<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Calorie Log - Add Food</title>
</head>
<body>
    <nav class="relative container mx-auto p-6">
        <div class="flex items-center justify-between pb-5">
            <div class="pt-2">
                <a href="#" class="text-4xl font-bold">
                    <span class="text-amber-500">Calorie</span> Log
                </a>
            </div>
            <div class="flex space-x-7">
                <a href="">Hello, User1234</a>
                <a href="">Sign Out</a>
            </div>
        </div>
        <div class="flex space-x-7">
            <a href="" class="font-semibold hover:text-amber-500">Nutrition Tracker</a>
            <a href="" class="font-semibold hover:text-amber-500">My Recipes</a>
            <a href="" class="font-semibold hover:text-amber-500">Explore Food</a>
        </div>   
    </nav>
    <div class="relative container mx-auto pt-8 w-3/6">
        <div class="text-2xl font-bold pb-3">Add Entry</div>
        <form method="GET", action="{% url 'search' %}">
            {% csrf_token %}
            <input type="text" class="w-5/12 rounded" placeholder="Search the food database" name="query">
            <button type="submit" class="ml-3 py-2 px-5 border border-amber-500 bg-amber-500 rounded-md hover:bg-amber-600">Search</button>
        </form>
    </div>
    <div class="relative container mx-auto pt-8 w-3/6">
        <div class="text-2xl font-semibold pb-3">Search Results</div>
        <div class="flex">
            <div class="w-6/12 border border-black rounded-md h-80 mr-8 overflow-y-auto">
                {% for food in food_dict %}
                <form method="GET", action="{% url 'view' food.id %}" class="flex justify-between p-3 border-b-2 border-black hover:bg-amber-200">
                    <label name="name">{{food.name}}</label>
                    <button type="submit" class="ml-8 border border-black rounded-md px-2 py-1 hover:bg-amber-500">View</button>
                </form>
                {% endfor %}
            </div>
            <div class="w-3/12 border border-amber-300 bg-amber-200 rounded-md">
                <div class="m-2">
                    <div class="mb-4">
                        <div class="text-lg font-semibold">{{name|default:'---'}}</div>
                        <div class="text-base"><span class="dynamic">{{calories|default:'---'}}</span> calories</div>
                    </div>
                    <div class="flex justify-between mb-6">
                        <label class="text-base">Add to</label>
                        <select name="meals" class="py-1 rounded-md">
                            <option value="breakfast">Breakfast</option>
                            <option value="lunch">Lunch</option>
                            <option value="dinner">Dinner</option>
                            <option value="snacks">Snacks</option>
                        </select>
                    </div>
                    <div class="flex justify-between mb-6">
                        <label class="text-base">Serving Size (g)</label>
                        <input type="number" id="serving" class="w-24 py-1 rounded-md" value="{{serving_size}}">
                    </div>
                    <div class="flex justify-between mb-6">
                        <label class="text-base">Quantity</label>
                        <input type="number" id="quantity" class="w-16 py-1 rounded-md" value="1">
                    </div>
                    <button type="submit" class="border border-amber-500 bg-amber-500 rounded-lg py-1 px-7 block mx-auto mb-6 hover:bg-amber-600">Add Entry</button>
                    <div class="flex justify-between">
                        <div class="m-3 bg-white p-2 rounded-lg w-full">
                            <div class="text-base font-semibold">Nutrition Info</div>
                            <div class="flex justify-between">
                                <label class="text-base pl-2">Calories</label>
                                <label class="text-base pr-2 dynamic">{{calories|default:'--'}}</label>
                            </div>
                            <div class="flex justify-between">
                                <label class="text-base pl-2">Fat</label>
                                <label class="text-base pr-2"><span class="dynamic">{{fat|default:'-'}}</span>g</label>
                            </div>
                            <div class="flex justify-between">
                                <label class="text-base pl-2">Carbohydrates</label>
                                <label class="text-base pr-2"><span class="dynamic">{{carbs|default:'-'}}</span>g</label>
                            </div>
                            <div class="flex justify-between">
                                <label class="text-base pl-2">Protein</label>
                                <label class="text-base pr-2"><span class="dynamic">{{protein|default:'-'}}</span>g</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let dynamics = document.getElementsByClassName("dynamic")
        let initials = []
        for(let i = 0; i < dynamics.length; i++){
            initials.push(dynamics[i].textContent)
        }
        let serving = document.getElementById("serving")
        let quantity = document.getElementById("quantity")
        $("#serving").on("change keyup paste", function(){
            for(let i = 0; i < dynamics.length; i++){
                dynamics[i].textContent = '' + Math.round(Number(initials[i]) * (Number(serving.value)/100) * Number(quantity.value) * 100) / 100
            } 
        })
        $("#quantity").on("change keyup paste", function(){
            for(let i = 0; i < dynamics.length; i++){
                dynamics[i].textContent = '' + Math.round(Number(initials[i]) * (Number(serving.value)/100) * Number(quantity.value) * 100) / 100
            } 
        })
    </script>
    {% endblock %}
</body>
</html>