<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calorie Log - Add Food</title>
</head>
<body>
    <header>
        <h1>Calorie Log</h1>
        <div>
            <a href="">Log In</a>
            <a href="">Sign Up</a>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="">Nutrition Tracker</a></li>
            <li><a href="">My Recipes</a></li>
            <li><a href="">Explore Foods</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="search-area">
            <h2>Discover Foods</h2>
            <input type="text" placeholder="Search the food database">
            <button type="submit">Search</button>
        </div>
        <div class="results-and-nutrition">
            <div class="results-containers">
                <h3>Search Results</h3>
                <div class="results"></div>
            </div>
            <div class="food-info">
                <h3>Banana</h3>
                <label>Add to</label>
                <select name="meals" class="drop-down-meals">
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Breakfast</option>
                    <option value="dinner">Breakfast</option>
                    <option value="snacks">Breakfast</option>
                </select>
                <br>
                <label>Serving size (g)</label>
                <input type="text">
                <br>
                <label>Quantity</label>
                <input type="number">
                
            </div>
            <div class="food-nutrition">
                
            </div>
        </div>
    </div>
</body>
</html>