<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        
{% extends 'base.html' %}
{% block content %}

<div class="flex justify-around m-auto w-1/2 items-center pt-20">
    <div class="mx-6">
        <p class="font-bold text-xl">Track your nutrition, stick to your wellness goals!</p>
        <button class="bg-yellow-400 hover:bg-yellow-300 text-black font-bold text-xl px-20 py-3 rounded w-72">Sign Up</button>
        <div>
            <p class="text-base">Already Have an account?</p>
            <a class="text-blue-400 underline hover:text-blue-200" href="">Log In</a>
        </div>
        
    </div>
    <img src="https://cdn.discordapp.com/attachments/775223081722839083/978126051156832276/image1.png">
</div>

{% endblock %}
</body>
</html>